@charset "UTF-8";
/* Base Web */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
}

/* Mặc định là thẻ body sẽ có một phần margin nên set về bằng 0 để không gây lỗi giao diện */
body {
  margin: 0px;
  /* Set font chữ cho toàn bộ trang web */
  font-family: 'Be Vietnam Pro', sans-serif;
}

a {
  text-decoration: none;
}

/* Container */
.container {
  width: 1180px;
  /* Nên set tự động như vậy để không gây vỡ giao diện khi code cho nhiều giao diện */
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* End Container */
/* Do các cái nút sẽ được sử dụng lại nhiều nên đặt class để CSS lại để sài chung
không phải chỉnh lại nhiều lần */
/* Button */
.button {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  height: 44px;
  background-color: #003459;
  border-radius: 57px;
  display: inline-flex;
  padding: 0 28px;
  align-items: center;
}
.button i {
  margin-left: 8px;
  font-size: 18px;
}
.button--outline {
  border: 1.5px solid #003459;
  background-color: transparent;
  color: #003459;
}
.button__icon--left {
  margin-left: 0;
  margin-right: 12px;
}
@media (max-width: 1199.98px) {
  .button {
    padding: 20px;
  }
}

/* End Button */
/* Header */
.header {
  padding: 30px 0;
  position: relative;
  z-index: 99999;
}
.header__wrap {
  /* Giúp cho logo , menu , các nút trong header nằm trên cùng 1 hàng */
  display: flex;
  /* Giúp dàn đều ra trục ngang*/
  justify-content: space-between;
  /* Giúp chữ canh ra theo đúng hàng ngang trục dọc */
  align-items: center;
}
.header__logo img {
  /* Không nên fit cứng chiều rộng và cao để lỡ không đúng kích thước
  sẽ không bị vỡ */
  width: auto;
  /* Không fit auto chiều cao để đỡ ảnh hưởng đến phần padding của web sau này nếu có thay thế logo */
  height: 40px;
}
.header__menu ul {
  list-style-type: none;
  /* Do thẻ ul thường có sẵn hai thuộc tính này mặc định nên reset lại bằng 0 */
  margin: 0;
  padding: 0;
  display: flex; /*sài inline-flex cũng được */
}
.header__menu ul li {
  font-size: 16px;
  font-weight: bold;
  color: #003459;
  margin-right: 48px;
  text-transform: capitalize;
}
.header__menu ul li:last-child {
  margin-right: 0px;
}
.header__search form {
  /* Canh chỉnh vị trí của nút search là thẻ con của thẻ form */
  position: relative;
}
.header__search form input {
  width: 280px;
  height: 44px;
  border-radius: 46px;
  border: 0px;
  background-color: #f3f3f3;
  font-size: 14px;
  font-weight: medium;
  padding-left: 48px;
  outline: none; /*  hoặc để là 0*/
}
.header__search form button {
  /* Icon bản chất nó gần như chữ thôi nên sài font size không xét cao thấp */
  font-size: 20px;
  background-color: transparent;
  border: 0;
  color: #667479;
  /* Chỉnh vị trí so với thẻ cha là form ở thẻ cha đã set là relative rồi */
  position: absolute;
  left: 8px;
  top: 10px;
}
.header__icon-menu {
  display: none;
}
.header__icon-search {
  display: none;
}
@media (max-width: 1199.98px) {
  .header__button {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header__button {
    display: none;
  }
  .header__icon-menu {
    display: inline-block;
    font-size: 19px;
    color: #00171f;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  .header__icon-search {
    display: inline-block;
    font-size: 23px;
    color: #00171f;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .header {
    padding: 12px 0;
  }
}

/* End Header */
/* Section 1 */
.section-1 {
  background-color: #fceed5;
  border-radius: 0 0 40px 40px;
  /* Để đẩy nguyên khối section 1 lên trên cho menu nằm đè lên luôn như là fìgma vẽ */
  margin-top: -105px;
  /* Đẩy phần nội dung bên trong của section 1 xuống dưới */
  padding-top: 105px;
  overflow: hidden;
}
.section-1__wrap {
  display: flex;
  position: relative;
}
.section-1__bg4 {
  position: absolute;
  top: -110px;
  left: -130px;
  height: 110px;
}
.section-1__content {
  width: 50%;
  padding-top: 80px;
  /* padding-right: 76px;  */
  position: relative;
}
.section-1__image {
  width: 50%;
  position: relative;
}
.section-1__title {
  margin-top: 0px;
  font-size: 60px;
  font-weight: bold;
  color: #002a48;
  margin-bottom: 4px;
  /* Mặc định thì position sẽ là static không có được z-index nên phải chuyển thành
  relative để sử dụng z-index */
  position: relative;
  /* Vì cái hình được vẽ sau bằng z-index nào vẽ sau sẽ bị đè lên */
  z-index: 0;
}
.section-1__sub-title {
  /* Thằng bên trên đã cách rồi thì thằng dưới k cần cách nữa reset về 0 */
  margin-top: 0px;
  font-size: 46px;
  font-weight: bold;
  color: #002a48;
  margin-bottom: 24px;
}
.section-1__desc {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 34px;
  color: #242b33;
}
.section-1__button .button {
  margin-right: 18px;
}
.section-1__image-main {
  /* Để như vậy ảnh sẽ bằng kích thước của thẻ cha do đã để thẻ cha display l;à flex rồi */
  width: 100%;
  padding-right: 74px;
  /* Giúp ảnh sát với lề bên dưới */
  margin-bottom: -5px;
  position: relative;
  z-index: 1;
}
.section-1__bg1 {
  position: absolute;
  top: 70px;
  left: -10px;
}
.section-1__bg2 {
  position: absolute;
  bottom: 0;
  left: -180px;
}
.section-1__bg3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 200px);
  left: -90px;
}
@media (max-width: 1199.98px) {
  .section-1__title {
    font-size: 46px;
  }
  .section-1__sub-title {
    font-size: 28px;
  }
  .section-1__desc {
    font-size: 12px;
  }
  .section-1__bg1 {
    width: 60px;
  }
  .section-1__bg2 {
    left: -20px;
    height: 60px;
  }
  .section-1__sub-title {
    margin-bottom: 12px;
  }
}
@media (max-width: 991.98px) {
  .section-1__wrap {
    flex-wrap: wrap;
  }
  .section-1__content {
    width: 100%;
    padding-top: 35px;
    padding-right: 0;
    position: relative;
    margin-bottom: 25px;
    z-index: 1;
  }
  .section-1__image {
    width: 100%;
  }
  .section-1__bg1 {
    display: none;
  }
  .section-1__bg2 {
    display: none;
  }
  .section-1__button .button {
    margin-right: 13px;
  }
  .section-1__desc {
    margin-bottom: 32px;
  }
}
@media (max-wwidth: 575.98px) {
  .section-1__bg3 {
    left: -10px;
  }
}

/* End Section 1 */
/* Box Head */
.box-head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 28px;
}
.box-head__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #003459;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}
.box-head__sub-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 2px;
}
@media (max-width: 767.98px) {
  .box-head {
    margin-bottom: 20px;
  }
  .box-head__left {
    width: 100%;
  }
  .box-head__right .button {
    display: none;
  }
  .box-head__sub-title {
    font-size: 14px;
  }
  .box-head__title {
    font-size: 24px;
  }
}

/* End Box Head */
/* Section 2 */
.section-2 {
  padding: 60px 0 40px 0;
}
.section-2__wrap {
  display: flex;
  flex-wrap: wrap;
}
.section-2__button--bottom {
  display: none;
}
@media (max-width: 767.98px) {
  .section-2 .section-2 {
    padding: 40px 0 40px 0;
  }
  .section-2 .section-2__button--bottom {
    display: block;
    margin-top: 4px;
  }
  .section-2 .section-2__button--bottom .button {
    display: flex;
    justify-content: center;
  }
}

/* End Section 2 */
/* Product-Item Section 2 */
.product-items {
  padding: 60px 0 40px 0;
  width: calc(25% - 15px);
  border-radius: 12px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.product-items:nth-child(4n) {
  margin-right: 0;
}
.product-items--three {
  width: calc(33.3333333333% - 13.3333333333px);
}
.product-items--three:nth-child(4n) {
  margin-right: 20px;
}
.product-items--three:nth-child(3n) {
  margin-right: 0px;
}
.product-items__image img {
  /* Giúp cho ảnh nhỏ vừa nằm ở trong div full chiều ngang so với box cha */
  width: 100%;
  /* Thuộc tính để set ảnh cho phù hợp chiều rộng/chiều cao */
  /* Dùng để chia tỉ lệ 16/9,... */
  aspect-ratio: 1/1;
  /* Để cho hình co giãn vừa khung cách phần thừa làm ảnh k bị co giãn
   tương tự backroundsize nhưng thuộc tính này sử dụng cho hình ảnh (img) */
  object-fit: cover;
  border-radius: 10px;
}
.product-items__content {
  padding: 16px 8px;
}
.product-items__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}
.product-items__title a {
  color: #00171f;
}
.product-items__meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}
.product-items__meta-item {
  margin-right: 11px;
  font-size: 12px;
  color: #667479;
}
.product-items__meta-dot {
  /* Tạo ra dấu chấm nhỏ bằng css */
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #667479;
  margin-right: 11px;
  margin-top: 5px;
}
.product-items__price {
  font-size: 14px;
  font-weight: 700;
  color: #00171f;
}
@media (max-width: 991.98px) {
  .product-items {
    width: calc(33.3333333333% - 13.3333333333px);
  }
  .product-items:nth-child(4n) {
    margin-right: 20px;
  }
  .product-items:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  .product-items {
    width: calc(50% - 6px);
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .product-items:nth-child(3n) {
    margin-right: 12px;
  }
  .product-items:nth-child(2n) {
    margin-right: 0;
  }
}

/* End Product-Item Section 2 */
/* Section 3 */
.section-3 {
  padding-bottom: 60px;
}
.section-3__wrap {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/section3-bg1.svg);
  border-radius: 20px;
  /* Để lỡ sau này người dùng tải hình ảnh khác lên vẫn vừa với khung */
  background-size: cover;
  /* Những gì thừa ra của hình sẽ bị ẩn đi hết */
  overflow: hidden;
}
.section-3__image {
  width: 42%;
  margin-top: 36px;
  margin-left: 20px;
}
.section-3__image img {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}
.section-3__content {
  width: 38%;
  margin-top: 58px;
  margin-right: 85px;
  text-align: right;
}
.section-3__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 52px;
  color: var(--colorprimiry);
}
.section-3__sub-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  color: var(--colorprimiry);
}
.section-3__desc {
  font-weight: 500;
  font-size: 12px;
  color: var(--color-dark-2);
  margin-bottom: 24px;
}
.section-3__button a {
  margin-left: 8px;
}
.section-3__button a:first-child {
  margin-left: 0;
}
@media (max-width: 1199.98px) {
  .section-3__content {
    margin-top: 40px;
    margin-right: 40px;
  }
  .section-3__title {
    font-size: 36px;
    margin-bottom: 4px;
  }
  .section-3__sub-title {
    font-size: 24px;
  }
  .section-3__desc {
    font-size: 12px;
  }
  .section-3__button a {
    margin-left: 13px;
  }
  .section-3__image {
    width: 38%;
  }
}
@media (max-width: 991.98px) {
  .section-3__wrap {
    flex-wrap: wrap;
    background-image: url(../images/section3-bg1-mobile.svg);
    /* Cảnh chỉnh vị trí ảnh */
    background-position: center;
  }
  .section-3__image {
    order: 2;
    width: 100%;
    margin-top: 0;
    margin-left: 0px;
  }
  .section-3__content {
    width: 100%;
    order: 1;
    margin-top: 32px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 23px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .section-3 {
    padding-bottom: 40px;
  }
}

/* End Section 3 */
/* Section 4 */
.section-4 {
  padding-bottom: 60px;
}
.section-4__wrap {
  display: flex;
  flex-wrap: wrap;
}
.section-4__items {
  width: calc(33.3333333333% - 13.3333333333px);
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  padding: 8px;
  border-radius: 8px;
  margin-right: 20px;
}
.section-4__items:nth-child(3n) {
  margin-right: 0;
}
.section-4__image img {
  width: 100%;
  aspect-ratio: 364/340;
  object-fit: cover;
  border-radius: 10px;
}
.section-4__content {
  padding: 8px;
}
.section-4__tag {
  padding: 2px 10px;
  border-radius: 28px;
  background-color: #00a7e7;
  font-size: 10px;
  font-weight: 700;
  color: #fdfdfd;
  /* Như vậy xe giúp cho chiều rộng auto không bị full chiều ngang */
  display: inline-block;
  margin-bottom: 10px;
}
.section-4__title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
.section-4__title a {
  /* Css cho thẻ a thì mới đổi màu được */
  color: #00171f;
}
.section-4__desc {
  font-weight: 400;
  font-size: 14px;
  color: #242b33;
  /* Giúp hiện thị chữ 3 dòng còn dư sẽ chấm chấm */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section-4__button--bottom {
  display: none;
}
@media (max-width: 767.98px) {
  .section-4 {
    margin-bottom: 40px;
  }
  .section-4__items {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .section-4__button--bottom {
    display: block;
    margin-top: 8px;
  }
  .section-4__button--bottom .button {
    display: flex;
    justify-content: center;
  }
}

/* End Section 4 */
/* Footer */
.footer {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  border-radius: 40px 40px 0 0;
  padding: 80px 0 40px 0;
}
.footer__top {
  background-color: #003459;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  /* Giúp cho nội dung của 2 thẻ con bên trong inner-top canh ra giữa */
  align-items: center;
  margin-bottom: 40px;
}
.footer__content {
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
  width: calc(40% - 20px);
  text-transform: capitalize;
}
.footer__form {
  width: 60%;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 14px;
}
.footer__form form {
  display: flex;
}
.footer__form input {
  height: 48px;
  /* Giúp cho ô input sẽ chiếm phần còn lại của thẻ cha là thẻ form
  vì thẻ button đã chỉnh đủ kích cỡ cần có của nó */
  flex: 1;
  /* width: 69%; */
  border: 1px solid #99a2a5;
  border-radius: 8px;
  padding: 0 28px;
  margin-right: 12px;
}
.footer__form button {
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: #fdfdfd;
  padding: 0 28px;
  border: 0;
  border-radius: 8px;
  background-color: #003459;
  /* Khi di chuột vào thi trỏ chuột sẽ hiện hình bàn tay */
  cursor: pointer;
}
.footer__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer__menu a {
  font-size: 16px;
  font-weight: 500;
  color: #00171f;
  margin-right: 16px;
  text-transform: capitalize;
}
.footer__menu a:last-child {
  margin-right: 0;
}
.footer__social a {
  font-size: 24px;
  color: #00171f;
  margin-left: 40px;
}
.footer__bottom {
  border-top: 1px solid #ccd1d2;
  padding-top: 40px;
  display: flex;
  align-items: center;
}
.footer__copyright {
  width: 40%;
  font-weight: 500;
  font-size: 14px;
  color: #667479;
}
.footer__logo {
  width: 20%;
  text-align: center;
}
.footer__logo img {
  /* Ngược lại chiều cao auto chiều rộng fix cứng cũng được
  nhưng lỡ khách hàng up logo khác sẽ dễ lỗi */
  height: 40px;
  width: auto;
}
.footer__menu {
  width: 40%;
  text-align: right;
}
.footer__menu a {
  font-weight: 500;
  font-size: 14px;
  color: #667479;
  margin-left: 32px;
}
@media (max-width: 991.98px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__content {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer__form {
    width: 100%;
  }
  .footer__middle {
    flex-wrap: wrap;
  }
  .footer__menu {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__social {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__social a:first-child {
    margin-left: 0;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
    order: 3;
    font-size: 12px;
  }
  .footer__logo {
    width: 100%;
    order: 1;
    margin-bottom: 32px;
  }
  .footer__menu {
    width: 100%;
    text-align: center;
    order: 2;
    margin-bottom: 12px;
  }
  .footer__menu a:first-child {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding: 40px 0 40px 0;
    border-radius: 20px 16px 0 0;
  }
  .footer__content {
    text-align: center;
  }
  .footer__form form {
    flex-wrap: wrap;
  }
  .footer__form input {
    /* Lúc trước để flex là một giờ để là none để hủy đi thì mới set chiều rộng được */
    flex: none;
    width: 100%;
    margin-bottom: 12px;
  }
  .footer__form button {
    width: 100%;
  }
  .footer__menu a {
    font-size: 13px;
    margin-right: 40px;
  }
  .footer__social a {
    font-size: 20px;
  }
  .footer__social {
    margin-bottom: 0;
  }
}

/* End Footer */
.breadcrumb {
  padding: 7px 0;
}
.breadcrumb__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.breadcrumb__link {
  font-weight: 500;
  font-size: 14px;
  color: #667479;
  margin-right: 36px;
}
.breadcrumb__link::after {
  content: '\f105';
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
  font-size: 10px;
  position: absolute;
  right: -20px;
  top: 4px;
}
.breadcrumb__link::after:last-child {
  display: none;
}

.layout-product {
  margin-bottom: 60px;
}
.layout-product__wrap {
  display: flex;
}
.layout-product__left {
  width: calc(25% - 20px);
  margin-right: 20px;
}
.layout-product__right {
  width: 75%;
}
@media (max-width: 992.98px) {
  .layout-product__left {
    display: none;
  }
  .layout-product__right {
    width: 100%;
  }
}

.filters__title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.filters__title img {
  height: 20px;
  width: auto;
  margin-right: 13px;
}
.filters__title span {
  font-weight: 700;
  font-size: 20px;
  color: #003459;
}
.filters__item {
  border-bottom: 1px solid #ebeeef;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.filters__item-title {
  font-size: 16px;
  font-weight: 700;
  color: #00171f;
  margin-bottom: 10px;
}
.filters__item-choose {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.filters__item-choose:last-child {
  margin-bottom: 0px;
}
.filters__item-choose input {
  width: 16px;
  height: 16px;
}
.filters__item-choose label {
  margin-left: 10px;
  color: #00171f;
  font-size: 14px;
  font-weight: 500;
}

.section-5__title {
  font-weight: 700;
  font-size: 24px;
  color: #003459;
  margin-bottom: 14px;
}
.section-5__button-filter {
  display: none;
}
.section-5__wrap {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 992.98px) {
  .section-5__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-5__button-filter {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  .section-5__button-filter img {
    height: 16px;
    width: auto;
    margin-right: 12px;
  }
  .section-5__button-filter span {
    font-weight: 700;
    font-size: 16px;
    color: #002a48;
  }
}

.pagination__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__item {
  margin: 0 6px;
}
.pagination__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  color: #002a48;
  font-size: 18px;
  font-weight: 700;
}
.pagination__link--active,
.pagination__link:hover {
  background-color: #002a48;
  color: white;
  border-radius: 8px;
}

.product-info {
  padding: 20px 0;
}
.product-info__wrap {
  display: flex;
  border: 1px solid #ebeeef;
  padding: 22px 20px;
  border-radius: 20px;
}
.product-info__left {
  width: 50%;
}
.product-info__right {
  flex: 1;
  margin-left: 34px;
}
.product-info__image-main {
  margin-bottom: 12px;
}
.product-info__image-main img {
  width: 100%;
  aspect-ratio: 560/470;
  object-fit: cover;
  border-radius: 10px;
}
.product-info__image-thumb {
  display: flex;
}
.product-info__image-thumb img {
  width: 100%;
  margin-right: 12px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 6px;
}
.product-info__image-thumb img:last-child {
  margin-right: 0;
}
.product-info__title {
  font-weight: 700;
  font-size: 24px;
  color: #00171f;
  margin-top: 9px;
  margin-bottom: 6px;
}
.product-info__price {
  font-weight: 700;
  font-size: 20px;
  color: #002a48;
  margin-bottom: 18px;
}
.product-info__buttons a {
  margin-right: 18px;
}
.product-info__table {
  margin-top: 18px;
  margin-bottom: 18px;
}
.product-info__table td {
  padding: 10px;
  border-bottom: 1px solid #ebeeef;
  font-weight: 500;
  font-size: 14px;
  color: #667479;
}
.product-info__table td:first-child {
  width: 34%;
}
@media (max-width: 991.98px) {
  .product-info__wrap {
    flex-wrap: wrap;
  }
  .product-info__left {
    width: 100%;
  }
  .product-info__right {
    flex: none;
    margin-left: 0;
    margin-top: 22px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .product-info {
    padding-top: 0;
  }
  .product-info .container {
    padding-left: 0;
    padding-right: 0;
  }
  .product-info__wrap {
    border: 0;
    padding: 0;
  }
  .product-info__right {
    box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.0588235294);
    border-radius: 20px 20px 0 0;
    padding: 32px 16px 20px 16px;
  }
}

.box-share {
  display: flex;
  align-items: center;
}
.box-share__label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #002a48;
  font-weight: 700;
  margin-right: 10px;
}
.box-share__label i {
  margin-right: 10px;
  font-size: 15px;
}
.box-share__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
}
.box-share__item {
  margin-right: 10px;
}
.box-share__link {
  font-size: 19px;
  color: #99a2a5;
}
.box-share__link:hover {
  color: #002a48;
}

/*# sourceMappingURL=style.css.map */
